*.aux
*.dvi
*.lof
*.log
*.lot
*.out
*.toc
main.pdf
*.bbl
*.bgl
*.blg
*.synctex.gz
texput.log
titlesec.sty
*.backup
*.*.backup
*/*.backup
*/*.*.backup
*.log
*.*.log
*.*~
*/*.*~
Figures/*/*-eps-converted-to.pdf
*-eps-converted-to.pdf
*.mp4
*.snm
*.nav
