main.aux
main.dvi
main.lof
main.log
main.lot
main.out
main.toc
main.pdf
main.bbl
main.bgl
main.blg
main.synctex.gz
texput.log
titlesec.sty
*.backup
*.*.backup
*/*.backup
*/*.*.backup
*.log
*.*.log
*.*~
*/*.*~
Figures/*/*-eps-converted-to.pdf
